torch
torchvision
timm
segmentation-models-pytorch
albumentations
opencv-python-headless
numpy
scipy
scikit-learn
tqdm
matplotlib
Pillow
pandas
streamlit
opencv-python-headless==4.11.0.86
huggingface_hub
